.kop-surat-1 {
  table td,
  table th {
    padding: 0;
  }
  .c29 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 74.2pt;
    border-top-color: #000000;
    border-bottom-style: solid;
    text-align: center;
    vertical-align: middle;
  }
  .c19 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 456.1pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c24 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1.5pt;
    width: 23.7pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c6 {
    margin-left: -33.8pt;
    padding-top: 0pt;
    text-indent: 33.8pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c13 {
    margin-left: 5pt;
    padding-top: 0pt;
    text-indent: -5pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c10 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: 'Times New Roman';
    font-style: normal;
  }
  .c23 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: 'Calibri';
    font-style: normal;
  }
  .c1 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: 'Times New Roman';
    font-style: normal;
  }
  .c26 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 8pt;
    font-family: 'Times New Roman';
    font-style: normal;
  }
  .c21 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 2pt;
    font-family: 'Times New Roman';
    font-style: normal;
  }
  .c5 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: 'Calibri';
    font-style: normal;
  }
  .c8 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
  }
  .c18 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: 'Times New Roman';
    font-style: normal;
  }
  .c9 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
  }
  .c14 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: center;
    height: 11pt;
  }
  .c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c16 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c12 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c3 {
    -webkit-text-decoration-skip: none;
    color: #0000ff;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
  .c27 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    text-align: left;
  }
  .c15 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c25 {
    background-color: #ffffff;
    max-width: 474.9pt;
    padding: 0pt 63.7pt 36pt 56.7pt;
  }
  .c2 {
    font-size: 12pt;
    font-family: 'Times New Roman';
    font-weight: 400;
  }
  .c7 {
    margin-left: 326.1pt;
    height: 11pt;
  }
  .c28 {
    padding: 0;
    margin: 0;
  }
  .c11 {
    color: inherit;
    text-decoration: inherit;
  }
  .c20 {
    height: 11pt;
  }
  .c17 {
    margin-left: 326.1pt;
  }
  .c22 {
    height: 52.4pt;
  }
}

.tanda-tangan-1 {
  min-height: 100px;
  text-align: center;
  > div > img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
